html {
    background-color: gainsboro;
    margin: auto;
    height: 100%;
    width: 60%;
    border: 3px solid green;
    padding: 0 10vw;
}
.liBlock {
    outline: 2px solid red;
    max-width: 40vw;
}
.liBlock li {
    font-weight: bolder;
}
.liBlock img {
    width: 30%;
    height: auto;
}